@media screen and (max-width: 1439px) {
	header {
		background: url(img/background_gite_810p.jpg) no-repeat, black;
	}
	footer{
		min-height:510px; 
		background: url(img/background_gite_810p.jpg) no-repeat, black;
	}
}

@media screen and (min-width: 1440px) {
	header {
		background: url(img/background_gite_1080p.jpg) no-repeat, black;
	}
	footer{
		min-height:780px; 
		background: url(img/background_gite_1080p.jpg) no-repeat, black;
	}
}


*{
	margin:0px;
}

img{
	border: 0;
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}

h1 {
	font-size: 3em; /* -> 8 */
}
.main ul li{
	margin-left: 45px;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}
a{font-family: Ubuntu, sans-serif;}


body {
	margin:  auto;
	background: #CECEC2;
	min-width: 1024px;
	max-width: 1920px;
}

#OLD{
	/*display: none;*/
}
.text-icon img, .text-icon span{
	display: inline-block;
	vertical-align: middle;
}

/****************/
/*   HEADER     */
/****************/
#header {
   	text-align: center;
	background-position: center top;
	height: 300px;
}

#header .bloc-titre{
	display: inline-block;
	vertical-align: top;
	width: 320px;
	
	position: relative;
	top:40px;
	right: 260px;
}
#header .bloc-titre img{
	overflow: hidden;
	width: 320px;
	height:200px;
	position:relative;
}
#header .titre-fond{
	z-index: 20;
}
#header .titre-anime{
	z-index: 25;
	bottom:200px;
}
#header .bloc-logo{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	
	position: relative;
	top: 60px;
	right: 200px; 
}


/********************/
/*  CONTENT GENERAL */
/********************/
#wait{
	margin: 50px auto;
	border-radius: 50%;
	background: white;
	padding: 40px;
	width: 120px;
	height: 120px;
}

#content {
	/*display: none;*/
    text-align: center;
}
.bloc-content{
	display: inline-block;
    vertical-align: top;
}

/*************/
/* BLOC MENU */
/*************/
.bloc-left{
	position:relative;
	z-index: 2;
    width: 15%;
    min-width:220px;
    margin: 40px 0px 30px 0px;
	text-align: center;
}
.bloc-left h2{
	margin:0px;
	position:relative;
	z-index:6;
	box-shadow: 1px 4px 4px #888888;
	text-align: center;
	border-radius: 30px 0 0 30px;
	background: rgb(248,255,232); /* Old browsers */
	padding:10px 0 10px 15%;
	background: -moz-linear-gradient(top,  rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,255,232,1)), color-stop(33%,rgba(227,245,171,1)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}
.bloc-left .partenaires p{
	display:inline-block;
	margin: 5px;
}

.bloc-left .onglets-content{
	margin-left:15%;
	width:85%;
	position:relative;
	z-index:5;
	background: white;
	margin-top:-18px;
	padding:20px 0 20px 0;
	
	box-shadow: 0 0 2px black;
}

.bloc-left .actions-menu-secondaire {
	cursor: pointer;
}

nav h2{
	margin-top: 0;
}
nav a{
	display:block;
	height:65px;
	margin-bottom:20px;
	text-align:center;
}
nav a:first-of-type{
	margin-top:15px;
}
nav a p{
	position:relative;
	z-index:3;
	vertical-align:middle;
	display: inline-block;
	color: black;
	padding: 13px 10px 13px 15px;
	border-radius: 0 10px 10px 0;
	font-family: Ubuntu, sans-serif;
	min-width: 100px;
}
nav a b{
	position:relative;
	z-index:4;
	vertical-align:middle;
	display: inline-block;
	margin-right: -10px;
	padding: 15px;
	border-radius: 0 50% 50% 50%;
	box-shadow: 0 2px 5px black;
}
/*************/
/* SOUS-MENU */
/*************/
.sous-menu{
	position:relative;
	top: 85px;
	right:25px;
	border-radius: 0 50% 50% 0;
	z-index:1;
	width: 0px;
	height: 450px;
	
	overflow: hidden;
	
	box-shadow: 5px 0 6px #888;
	padding: 0 0;
	background: white;
	height: 450px;
}
.sous-menu .menu-secondaire{
	padding: 40px 0 40px 20px;
}

.sous-menu .fermeture-sous-menu{
	float: right;
	position:relative;
	left:5px;
	cursor: pointer;
}

.sous-menu .onglets-content a{
	width: 280px;
}
/******************/
/* CONTENT-CENTER */
/******************/
.bloc-center{
	margin: 40px 0 40px 0;
}
.main{
	
	position: relative;
	z-index:0;
	text-align:left;
    min-height: 390px;
    top: -470px;
	overflow: hidden;
	margin: 0 10px -450px 10px;
}

.type-sejour h3{
	text-align: center;
	color: white;
	margin: 0 0 10px -10px;
	border-radius: 0 0 30px 0;
	padding: 10px;
	width: 200px;
}

.type-sejour{
	width: 80%;
	margin: auto;
	padding: 0 10px 10px 10px;
	border: 3px solid;
}

.main h2, .main h2 a{
	font-family: Lucida Handwriting;
	text-decoration:none;
	padding: 10px;
	color: black; 
}

.page {
	background:white;
}

/***********/
/* SIDEBAR */
/***********/
.side {
  
    width: 15%;
    min-width:220px;
	margin: 40px 0 30px 0;
	text-align: center;
	min-height: 200px;
	background: white; /* Old browsers */
	box-shadow: 0 2px 2px #888888;
	border-radius: 10px;
}
.side > section{
	margin-bottom:30px;
}
.side > section li{
	list-style-type: none; 
}
#meta{
	padding: 2px;
}

/****************/
/*    FOOTER    */
/****************/
footer{
	text-align: center;
	background-position: center bottom;
	min-height:510px; 
}

.footer-content{
	display: inline-block;
	vertical-align: top;
	
	margin-top: 20px;
	background: white;	
	padding-top:80px;
	width: 300px;
	height:220px;
	border-radius: 50%;
	box-shadow: 1px 1px 12px 5px #555;
}
.footer-content p{
	color: black;
}
footer .actions-site{
	float:left;
	position:relative;
	left:50%;
	top:19px;
	
}

/***************/
/*  BLOC-USER  */
/***************/
.bloc-user {
	display: inline-block;
	vertical-align: top;

	position:relative;
	top:250px;
	right: 10px;
}
.bloc-user p{
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	background: white
}

.bloc-user a:hover{
	border-bottom: 1px solid black;
}

/**********/
/*  DATE  */
/**********/
.date{ 
	position:relative;
	padding:45px 14px 0 0px;
	margin: auto;
} 
.date .month{
    text-transform: uppercase;
    font-size:25px;
    margin: 0px 5px 10px 5px;
}
.date .day{
	font-size:35px;
	line-height:35px;
	position:absolute; left:5px; top:10px;
}
.date .year{ 
	display:block; 
	position:absolute; 
	right:5px; 
	top:15px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);		
}

/**********/
/*  POST  */
/**********/
.post{
	min-height: 150px;
	padding: 10px;
	margin-bottom: 50px;
	background: white;
	border-radius: 0 50px 0 0;
}

.info{
	opacity: 0.75;
	color: white;
	float:right;
	padding: 7px; 
	background: rgb(143,200,0);
	border-radius: 50% 50% 50% 0;
	height: 85px;
	width: 85px;
}
.post .more-link{
	display: block;
	padding: 10px 10px 5px 10px;
	margin-left: -10px;
	margin-bottom: -10px;
	background: #2d9500;
	border-radius: 0 30px 0 0;
	color: white;
	width: 120px;
}

/*************/
/*  Galerie  */
/*************/
.gallery_box li{
	border-top: 1px dotted black;
}
.gallery_box li:last-of-type{
	border-bottom: 1px dotted black;
}

/******************/
/*  Presentation  */
/******************/
.presentation{
	min-height: 400px;
	background: white;
	padding: 10px;
	min-height: 450px;
}
.presentation h2{
	text-align:center;
}
.presentation-thumbnail img{
	border: 3px solid #888888;
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 300px;
} 
/***********/
/*  FORUM  */
/***********/
#bbpress-forums input, #bbpress-forums button{
	opacity:0.8;
	padding: 2px 6px 2px 6px;
	border-radius: 10px;
	outline: none;
}
#bbpress-forums input:hover, #bbpress-forums button:hover{
	opacity: 1;
}
.bbp-topic-form{
	padding: 20px;
	border: 1px dotted black;
}
/*************/
/*  CONTACT  */
/*************/
.contact{
	background: white;
	padding: 10px;
}
.contact-left, .contact-right{
	padding:30px;
	float: left;
	width: 40%;
}
.contact-left{
	border-right: 1px dotted black;
}
.contact-right iframe{
	width: 110%;
	height: 350px;
}
