/*****************************/
/* COMMUN A TOUTES LES PAGES */
/*****************************/

/* Text */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}

h1, h2, h3{
	color: back;
	font-family: Ubuntu, sans-serif;
	font-weight: normal; /* -> 7 */
}

h1 {
	font-size: 3em; /* -> 8 */
}

h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

a{
    font-family: Ubuntu, sans-serif;
}
/*FIN Text*/

body {
	margin:  auto;
}

/****************/
/*   HEADER     */
/****************/
header {
    text-align: center;
	height: 360px;
	width: 100%;
	
	background: url(img/background_gite.jpg), black;
	background-size:1024px 768px;
	background-repeat:no-repeat;
	background-position:center;
}
.header-content{
	margin:auto;
}
.barre-top{
	height: 30px;
	background: white;
}
header .titre-asso{
	width:390px;
	left:-195px;
	position:absolute;
	margin-left:50%;
}

header .logo{
	position:absolute;
	margin-top:80px;
	margin-left:11%;
	width:155px;
	left:-77px;
}
#searchform {
	position:absolute;
	margin-top:260px;
	margin-right:17%;
	width:400px;
	height: 30px;
	right:-200px;
}


/****************/
/*    CONTENT   */
/****************/

#content {
    text-align: center;
}
#content .bloc-content{
background: #CECEC2; /* Old browsers */

    display: inline-block;
    vertical-align: top;
	box-shadow: 0 2px 2px #888888;
	border-radius: 10px;
	text-align: left;
}

/* MENU */
.menu{  
    width: 20%;
    margin: 20px 10px 30px 0;
	background: none;
}
.menu h2{
	text-align: center;
}
.menu p{
	margin-bottom: 10px;
	border-bottom: 2px black dotted;
	list-style-type: none;
}
.menu p a{
	margin-left: 20px;
}
.menu p object{
	margin-right: 20px;
}
/*FIN MENU*/

/*SOUS_PAGE*/
.sous-page{
	width: 0%;
	margin: 20px 0 30px 0;
	overflow: hidden;
	
	text-align:center;
}
.sous-page .fermeture-sous-page{
	float: right;
	margin-right: 0px;
	margin-top: 20px;
	width: 40px;
	height:40px;
}
/*FIN SOUS_PAGE*/

.main{   
    min-height: 250px;
	width: 50%;
	overflow: hidden;
	margin-top: 20px;
    
	padding: 10px;
}
.main .main-titre{
    display: none;
    
	-webkit-transform: rotate(90deg);
	o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    sand-transform: rotate(90deg);
}
.side {
   
    width: 20%;
	margin: 20px 0 30px 10px;
    
	min-height: 200px;
}


/****************/
/*    FOOTER    */
/****************/
footer{
	text-align: center;
	margin-top:30px;
	margin: auto;
    width: 1024px;;
}
.footer-content{
	

	
	border-top:2px solid black;
	border-bottom: 2px solid black;
background: rgb(229,230,150); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,230,150,1) 0%, rgba(209,211,96,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,230,150,1)), color-stop(100%,rgba(209,211,96,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

border-radius: 60px;
}
.footer-content p{
	display: inline-block;
	width: 29%;
	vertical-align: top;
	
	color: black;
	padding:5px;
}
.footer-content p:nth-child(2){
	border-left: 1px solid black;
	border-right: 1px solid black;
}

/****************************/
/* 		 SearchForm 		*/
/****************************/
#searchform form input{
    font-family: Ubuntu, sans-serif;
    font-size:1.1em;   
}
#searchform form fieldset{
    border:none;
    padding: 0px;
	width:395px;
}
#searchform input[type="text"]{
border:none;
margin-right: -4px;
display: inline-block;
width:265px;
height:34px;
padding-left:10px;
font-weight:bold;
color:black;
-webkit-box-shadow:0px 1px 1px #000 inset;
   -moz-box-shadow:0px 1px 1px #000 inset;
        box-shadow:0px 1px 1px #000 inset;
-webkit-border-radius:15px 0px 0px 15px;
   -moz-border-radius:15px 0px 0px 15px;
   border-radius:15px 0px 0px 15px;
		background: rgb(230,240,163); /* Old browsers */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#searchform input[type="submit"]{
display: inline-block;
vertical-align: top;
width:120px;
height:37px;
border:none;
color:black;
font-weight:bold;
text-shadow:0px 1px 1px #000;
-webkit-border-radius:0 15px 15px 0;
   -moz-border-radius:0 15px 15px 0;
        border-radius:0 15px 15px 0;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
#searchform input[type="submit"]:hover{
background: rgb(229,230,150); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,230,150,1) 0%, rgba(209,211,96,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,230,150,1)), color-stop(100%,rgba(209,211,96,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,230,150,1) 0%,rgba(209,211,96,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e696', endColorstr='#d1d360',GradientType=0 ); /* IE6-9 */

}