/*****************************/
/* COMMUN A TOUTES LES PAGES */
/*****************************/

/* Text */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}

h1, h2, h3{
	color: #F3730D;
	font-family: Ubuntu, sans-serif;
	font-weight: normal; /* -> 7 */
}

h1 {
	font-size: 3em; /* -> 8 */
}

h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

a{
    font-family: Ubuntu, sans-serif;
}
/*FIN Text*/

body {
	margin:  0px;
	background-color: white; 
}


/****************/
/*   HEADER     */
/****************/

header {
    text-align: right;
	
	padding:10px 20%;
	background-color: black;
	background-clip: padding-box;
	
	border-bottom:27px solid transparent;
	border-image:url(img/border_black.png) 27 27 round;
	-webkit-border-image:url(img/border_black.png) 27 round; /* Safari 5 and older */
	-o-border-image:url(img/border_black.png) 27 27 round; /* Opera */
}

header h1, header h2{
    text-align: center;
	color:white;
}

header img {
    float: left;
    width: 155px;
    height: 155px;
	margin-top: 40px;
}



/****************/
/*    CONTENT   */
/****************/

#content {
    text-align: center;
}

#content div,#content nav{
	background-color: #8CE00C;
}

/* MENU */
.menu{
    display: inline-block;
    vertical-align: top;
    
    width: 20%;
    margin: 20px 10px 30px 0;
    
    text-align: left;
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 30px #888888;
}

.menu h2{
	text-align: center;
}

.menu p{
	margin-bottom: 10px;
	border-bottom: 2px black dotted;
	list-style-type: none;
}

.menu p a{
	margin-left: 20px;
}

.menu p object{
	margin-right: 20px;
}
/*FIN MENU*/

/*SOUS_PAGE*/
.sous-page{
    display: inline-block;
    vertical-align: top;
	width: 0%;
	margin: 20px 0 30px 0;
	overflow: hidden;
	
	text-align:center;
	border:1px solid black;
	border-radius: 10px;
}

.sous-page .fermeture-sous-page{
	float: right;
	margin-right: 0px;
	margin-top: 20px;
	width: 40px;
	height:40px;
}
/*FIN SOUS_PAGE*/

.main{
    display: inline-block;
    vertical-align: top;
    
    min-height: 250px;
	width: 50%;
	overflow: hidden;
	margin-top: 20px;
    
    text-align: left;
	padding: 10px;
	border:1px solid black;
	border-radius: 10px;
}

.main .main-titre{
    display: none;
    
	-webkit-transform: rotate(90deg);
	o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    sand-transform: rotate(90deg);
}

.side {
    display: inline-block;
    vertical-align: top;
    
    width: 20%;
	margin: 20px 0 30px 10px;
    
    text-align: left;
	min-height: 200px;
	border:1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 30px #888888;

}


/****************/
/*    FOOTER    */
/****************/
footer{
	margin-top:30px;
    width: 100%;
	border-top:2px solid black;
	background: black;
	background-clip: padding-box;
	text-align: center;
	border-top:27px solid transparent;
	border-image:url(img/border_black.png) 27 27 round;
	-webkit-border-image:url(img/border_black.png) 27 round; /* Safari 5 and older */
	-o-border-image:url(img/border_black.png) 27 27 round; /* Opera */
}

footer p{
	display: inline-block;
	width: 29%;
	vertical-align: top;
	
	color: white;
	padding:5px;
}

footer p:nth-child(2){
	border-left: 1px solid white;
	border-right: 1px solid white;
}




/****************************/
/* 		 SearchForm 		*/
/****************************/
#searchform {
    text-align: right;
    display: inline;
    
    
}

#searchform form label,#searchform form input{
    font-family: Ubuntu, sans-serif;
    font-size:1.1em;
    
}


#searchform form fieldset{
    border:none;
    padding: 0px;
}

#searchform input[type="text"]{
margin: 0px -4px 0 -4px;
display: inline-block;
width:265px;
height:35px;
padding-left:10px;
font-weight:bold;
border:none;
color:#cecece;
text-shadow:0px 1px 0px #000;
background:#1f2026;
-webkit-box-shadow:0px 1px 1px #000 inset;
   -moz-box-shadow:0px 1px 1px #000 inset;
        box-shadow:0px 1px 1px #000 inset;
-webkit-border-radius:5px 0px 0px 5px;
   -moz-border-radius:5px 0px 0px 5px;
        border-radius:5px 0px 0px 5px;
}

#searchform input[type="submit"]{
margin: 0px;
display: inline-block;
width:120px;
height:37px;

color:white;
font-weight:bold;
border: none;

-webkit-border-radius:0px 5px 5px 0px;
   -moz-border-radius:0px 5px 5px 0px;
        border-radius:0px 5px 5px 0px;
background:#09c;
}
#searchform input[type="submit"]:hover{
background:#343640;
}